# Ignore Visual Studio specific files
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Ignore build outputs
bin/
obj/
out/
**/Debug/
**/Release/

# Ignore NuGet packages
*.nupkg
packages/
project.lock.json
project.assets.json

# Ignore WinForms specific files
*.exe
*.dll
*.pdb
*.cache
*.log

# Ignore Resharper and Rider
*.DotSettings.user
.idea/
*.resharper/

# Ignore compiled code
*.csproj.user
*.csproj.nuget.g.props
*.csproj.nuget.g.targets

# Ignore JetBrains Rider and Resharper files
.idea/
*.sln.iml

# Ignore environment settings
.env

# Ignore AssemblyInfo and cache files
**/AssemblyInfo.cs
**/AssemblyInfoInputs.cache
code/TicketApp/tools/.store/dotnet-reportgenerator-globaltool/5.4.3/dotnet-reportgenerator-globaltool/5.4.3/tools/net8.0/any/appsettings.json

# Ignore SQL Server log files
*.ldf
*.mdf.lock
code/Database/TicketAppDB.mdf

# User Secrets files
UserSecrets/
