# Ignore Visual Studio specific files
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Ignore build outputs
bin/
obj/
out/
**/Debug/
**/Release/

# Ignore NuGet packages
*.nupkg
packages/
project.lock.json
project.assets.json

# Ignore ASP.NET specific files
appsettings.*.json
appsettings.json
node_modules/
wwwroot/lib/
wwwroot/css/
wwwroot/js/
dist/
publish/
*.db

# Ignore WinForms specific files
*.exe
*.dll
*.pdb
*.cache
*.log

# Ignore Entity Framework migrations
Migrations/
*.mdf
*.ldf

# Ignore Resharper and Rider
*.DotSettings.user
.idea/
*.resharper/

# Ignore compiled code
*.csproj.user
*.csproj.nuget.g.props
*.csproj.nuget.g.targets

# Ignore JetBrains Rider and Resharper files
.idea/
*.sln.iml

# Ignore environment settings
.env

# Ignore AssemblyInfo and cache files
**/AssemblyInfo.cs
**/AssemblyInfoInputs.cache