@model TicketAppWeb.Models.ViewModels.BoardViewModel
@{
	ViewBag.Title = Model.Project.ProjectName;
}

<div class="container py-5">
	<div class="row g-4">
		@* @foreach (var status in Model.Board.Status) *@
		@* { *@
		@* 	<div class="col-12 col-md-12 col-lg-4"> *@
		@* 		<div class="card shadow-sm"> *@
		@* 			<div class="card-header bg-primary text-white"> *@
		@* 				<h5 class="mb-0">@status.Title (@section.Items.Count)</h5> *@
		@* 			</div> *@
		@* 			<div class="card-body"> *@
		@* 				<ul class="list-group"> *@
		@* 					@* @foreach (var item in stage.Items) *@
		@* 					@* { *@
		@* 					@* 	<li class="list-group-item">@item</li> *@
		@* 					@* } *@
		@* 				</ul> *@
		@* 			</div> *@
		@* 		</div> *@
		@* 	</div> *@
		@* } *@
	</div>
</div>