@model Project
@{
	ViewBag.Title = "Project Board";
}

<div class="container py-5">

	<div class="row g-4">
		<!-- First User Panel (Large) -->
		<div class="col-12 col-lg-8">
			<div class="card shadow-sm">
				<div class="card-header bg-info text-white">
					<h5 class="mb-0">User Details</h5>
				</div>
	            
				<div class="card-body">
					
					

				</div>
			</div>
		</div>

		<!-- Second User Panel (Small) -->
		<div class="col-12 col-md-12 col-lg-4">
			<div class="card shadow-sm">
				<div class="card-header bg-primary text-white">
					<h5 class="mb-0">Groups</h5>
				</div>
				<div class="card-body">
                    


				</div>
			</div>
		</div>
	</div>
</div>
