@model UserViewModel
@{
	ViewBag.Title = "User Management";
}

<!-- Google Font for Bubblegum Sans -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap" rel="stylesheet">

<!-- Link to site.css -->
<link href="~/css/projectmanagement.css" rel="stylesheet" />

<!-- Display error messages if any -->
@if (!string.IsNullOrEmpty(ViewBag.Error))
{
	<div class="alert alert-danger text-center">
		@ViewBag.Error
	</div>
}

<a asp-action="CreateUser" class="btn btn-primary mb-3">Add User</a>
